<ion-view class="ic_app_background" hide-nav-bar="true">
    <ion-header-bar class="bar-stable ic_header" >
        <div class="ic_header_icon"></div>
    </ion-header-bar>
    <ion-content class="has-header has-subheader " Title="ITrak Data" hide-nav-bar="false" hide-back-button="true" scroll="true" padding="true" class="manual-ios-statusbar-padding">

    <ul class="wrapper">
        <a class="box bg-blue fg-white" ui-sref="tabsController.projects">
            <div class="tile-content">
                <span class="icon"><img src="./img/svg-icons/clock-white.svg" height="100" width="100" /></span>
                <span class="tile-label">Time Tracking</span>
            </div>  
        </a>
        <a class="box bg-green fg-black">
            <div class="tile-content">
                <span class="icon"><img src="./img/svg-icons/money-white.svg" height="100" width="100" /></span>
                <span class="tile-label">Expense Tracking</span>
            </div>  
        </a>
        <a class="box bg-green fg-black">
            <div class="tile-content">
                <span class="icon"><img src="./img/svg-icons/list-white.svg" height="100" width="100" /></span>
                <span class="tile-label">Feedback Tracking</span>
            </div>
        </a>
        <a class="box bg-blue fg-white">
            <div class="tile-content">
                <span class="icon"><img src="./img/svg-icons/phone-call-white.svg" height="100" width="100" /></span>
                <span class="tile-label">Activty Tracking</span>
            </div>
        </a>
        <a class="box bg-blue fg-white">
            <div class="tile-content">
                <span class="icon"><img src="./img/svg-icons/rocket-white.svg" height="100" width="100" /></span>
                <span class="tile-label">Holiday Tracking</span>
            </div>
        </a>
        <a class="box bg-green fg-black">
            <div class="tile-content">
                <span class="icon"><img src="./img/svg-icons/folder-white.svg" height="100" width="100" /></span>
                <span class="tile-label">Absence Tracking</span>
            </div>  
        </a>
    </ul>
    </ion-content>
</ion-view>