<ion-pane class="">
    <ion-header-bar class="bar-stable ic_header">
        <div class="ic_header_icon"></div>
    </ion-header-bar>
    <ion-content class="has-header has-subheader ic_app_background" Title="ITrak Data" hide-nav-bar="false" hide-back-button="true" scroll="false" padding="true" class="manual-ios-statusbar-padding">
        

    <ul class="wrapper">
        <div class="box bg-blue fg-white" ui-sref="tabsController.projects">
            <div class="tile-content">
                <span class="icon"><img src="./img/svg-icons/clock.svg" height="100" width="100" /></span>
                <span class="tile-label">Time Tracking</span>
            </div>  
        </div>
        <div class="box bg-green fg-black">
            <div class="tile-content">
                <span class="icon"><img src="./img/svg-icons/money.svg" height="100" width="100" /></span>
                <span class="tile-label">Expense Tracking</span>
            </div>  
        </div>
        <div class="box bg-green fg-black">
            <div class="tile-content">
                <span class="icon"><img src="./img/svg-icons/list.svg" height="100" width="100" /></span>
                <span class="tile-label">Feedback Tracking</span>
            </div>
        </div>
        <div class="box bg-blue fg-white">
            <div class="tile-content">
                <span class="icon"><img src="./img/svg-icons/phone-call.svg" height="100" width="100" /></span>
                <span class="tile-label">Activty Tracking</span>
            </div>
        </div>
        <div class="box bg-blue fg-white">
            <div class="tile-content">
                <span class="icon"><img src="./img/svg-icons/rocket.svg" height="100" width="100" /></span>
                <span class="tile-label">Holiday Tracking</span>
            </div>
        </div>
        <div class="box bg-green fg-black">
            <div class="tile-content">
                <span class="icon"><img src="./img/svg-icons/folder.svg" height="100" width="100" /></span>
                <span class="tile-label">Absence Tracking</span>
            </div>  
        </div>
    </ul>
    </ion-content>
</ion-pane>