<ion-view>
    <ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu21">
        <ion-side-menu side="left" id="side-menu21">
            <ion-header-bar class="bar-stable">
                <div class="title fg-blue">Lets Do This Thing!</div>
            </ion-header-bar>
            <ion-content padding="false" class="side-menu-left has-header">
                <ion-list id="menu-list13" class="" data-componentid="list13">
                    <ion-item class="item-icon-left" id="menu-list-item22" ui-sref="tabsController.projects" menu-close="" data-componentid="list-item22">
                        <i class="icon ion-android-time"></i>Track Time</ion-item>
                    <ion-item class="item-icon-left" id="menu-list-item23" data-componentid="list-item23">
                        <i class="icon ion-cash"></i>Track Expenses</ion-item>
                    <ion-item class="item-icon-left" id="menu-list-item24" data-componentid="list-item24">
                        <i class="icon ion-android-chat"></i>Track Feedback</ion-item>
                    <ion-item class="item-icon-left" id="menu-list-item25" data-componentid="list-item25">
                        <i class="icon ion-email"></i>Track Activity</ion-item>
                    <ion-item class="item-icon-left" id="menu-list-item51" data-componentid="list-item51">
                        <i class="icon ion-android-plane"></i>Track Holidays</ion-item>
                    <ion-item class="item-icon-left" id="menu-list-item53" data-componentid="list-item53">
                        <i class="icon ion-ios-medkit"></i>Track Absences</ion-item>
                    <ion-item class="item-icon-left" id="menu-list-item31" data-componentid="list-item31">
                        <i class="icon ion-ios-settings-strong"></i>Settings</ion-item>
                    <ion-item class="item-icon-left" id="Ion-item1" data-componentid="list-item31") ui-sref="login" menu-close="">
                        <i class="icon ion-log-out"></i>Logout</ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>

        <ion-side-menu-content>
            <ion-nav-bar class="bar-stable">
                <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>