<ion-view title="Nominal Time Capture - Details" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="nominalTimeCaptureDetails-heading4" style="color:#000000;text-align:center;" class=" ">{{Nominal.intellic_code}} - {{Nominal.intellic_name}}</h3>
        <div id="nominalTimeCaptureDetails-button-bar3" class=" button-bar ">
            <button id="nominalTimeCaptureDetails-button10" class=" button button-dark  button-block ">Details</button>
            <a data-ui-sref="tabsController.nominalTimeCaptureLogTime({ Id: Nominal.alpha2_code })" id="nominalTimeCaptureDetails-button11" class=" button button-light  button-block button-outline ">Log Time</a>
        </div>
        <div id="nominalTimeCaptureDetails-markdown1" style="color:#000000;" class=" ">
            <p>The
                <strong>{{Nominal.intellic_name}}</strong> nominal code can be utilised to track time taken off against
                <strong>Approved</strong>Vacations.</p>

            <p>To book or review the status of holiday requested please use the ITrak Vacation application</p>
            <p>Is Holiday: <b>{{Nominal.intellic_isholiday}}</b><br />Is Paid: <b>{{Nominal.intellic_ispaid}}</b><br />

            </p>
        </div>
    </ion-content>
</ion-view>