<ion-view title="Opportunity Time Capture - Log Time" id="page16" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="opportunityTimeCaptureLogTime-heading11" style="color:#000000;text-align:center;" class=" ">Nicol of Skene</h1>
        <h4 id="opportunityTimeCaptureLogTime-heading14" style="color:#000000;text-align:center;" class=" ">ITrak System</h4>
        <div id="opportunityTimeCaptureLogTime-button-bar6" class=" button-bar ">
            <a ui-sref="tabsController.opportunityTimeCaptureDetails" id="opportunityTimeCaptureLogTime-button17" class=" button button-stable  button-block button-outline ">Details</a>
            <button id="opportunityTimeCaptureLogTime-button18" class=" button button-dark  button-block ">Log Time</button>
        </div>
        <form id="opportunityTimeCaptureLogTime-form7" class="list ">
            <label class="item item-select " id="opportunityTimeCaptureLogTime-select3" name="Project Phase">
                <span class="input-label">Select</span>
                <select>
                    <option>Communication</option>
                    <option>Documentation</option>
                    <option>System Setup</option>
                    <option>Travel</option>
                    <option>Project Management</option>
                    <option>Meetings</option>
                </select>
            </label>
            <label class="item item-input " id="opportunityTimeCaptureLogTime-textarea3">
                <span class="input-label">Description</span><textarea placeholder=""> </textarea>
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="opportunityTimeCaptureLogTime-toggle5" class=" ">Timer Capture</ion-toggle>
        </form>
        <button id="opportunityTimeCaptureLogTime-button19" class=" button button-assertive  button-block icon ion-stop ">Stop Timer</button>
        <h1 id="opportunityTimeCaptureLogTime-heading12" style="color:#000000;text-align:center;" class=" ">01:23</h1>
        <form id="opportunityTimeCaptureLogTime-form14" class="list ">
            <label class="item item-input " id="opportunityTimeCaptureLogTime-input24">
                <span class="input-label">From</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="opportunityTimeCaptureLogTime-input25">
                <span class="input-label">From</span>
                <input type="time" placeholder="">
            </label>
            <label class="item item-input " id="opportunityTimeCaptureLogTime-input26">
                <span class="input-label">To</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="opportunityTimeCaptureLogTime-input27">
                <span class="input-label">To</span>
                <input type="time" placeholder="">
            </label>
        </form>
        <h4 id="opportunityTimeCaptureLogTime-heading13" style="color:#000000;" class=" ">Previous</h4>
        <ion-list id="opportunityTimeCaptureLogTime-list11" class=" ">
            <ion-item class="item-icon-right  " id="opportunityTimeCaptureLogTime-list-item27">11/05/2016: 12:46 - 13:45
                <i class="icon ion-android-delete"></i>
            </ion-item>
            <ion-item id="opportunityTimeCaptureLogTime-list-item28" class="  ">11/05/2016: 09:00 -11:56</ion-item>
            <label class="item item-input " id="opportunityTimeCaptureLogTime-input23">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </ion-list>
    </ion-content>
</ion-view>