<ion-view title="Project Time Capture - Log Time" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="projectTimeCaptureDetails-heading1" style="color:#000000;text-align:center;" class=" ">{{Project.intellic_customer}}-{{Project.intellic_name}}</h3>
        <h5 id="H1" style="color:#000000;text-align:center;" class=" ">{{Project.intellic_projectidentification}}</h5>

        <div id="projectTimeCaptureLogTime-button-bar2" class=" button-bar ">
            <a ui-sref="tabsController.projectTimeCaptureDetails" id="projectTimeCaptureLogTime-button7" class=" button button-stable  button-block button-outline " ng-model="Timesheet.Details">Details</a>
            <button id="btn-itraktime-project-timecapture" class=" button button-dark  button-block " ng-model="Timesheet.LogTime">Log Time</button>
            <button id="btn-itraktime-project-history" class=" button button-dark  button-block " ng-model="Timesheet.History" ui-sref="tabsController.projectTimeCaptureDetails">History</button>
        </div>
        <form id="projectTimeCaptureLogTime-form5" class="list ">
            <label class="item item-select " id="projectTimeCaptureLogTime-select1" name="Project Phase">
                <span class="input-label">Select</span>
                <select ng-model="SelectedPhase">
                    <option ng-repeat="option in Project.project_phases" value="{{option.id}}">{{option.intellic_projectphasecategory}}</option>
                </select>
            </label>
            <label class="item item-input " id="projectTimeCaptureLogTime-textarea1">
                <span class="input-label">Description</span><textarea placeholder="" rows="4" ng-model="Timesheet.Description"> </textarea>
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="projectTimeCaptureLogTime-toggle4" class=" ">Timer Capture</ion-toggle>
        </form>
        <button id="projectTimeCaptureLogTime-button9" class=" button button-assertive  button-block icon ion-stop ">Stop Timer</button>
        <h1 id="projectTimeCaptureLogTime-heading3" style="color:#000000;text-align:center;" class=" ">01:23</h1>
        <form id="projectTimeCaptureLogTime-form11" class="list ">
            <label class="item item-input " id="projectTimeCaptureLogTime-input13">
                <span class="input-label">From</span>
                <input type="date" placeholder="" ng-model="Timesheet.FromDate">
            </label>
            <label class="item item-input " id="projectTimeCaptureLogTime-input14">
                <span class="input-label">From</span>
                <input type="time" placeholder="" ng-model="Timesheet.FromTime">
            </label>
            <label class="item item-input " id="projectTimeCaptureLogTime-input15">
                <span class="input-label">To</span>
                <input type="date" placeholder="" ng-model="Timesheet.ToDate">
            </label>
            <label class="item item-input " id="projectTimeCaptureLogTime-input16">
                <span class="input-label">To</span>
                <input type="time" placeholder="" ng-model="Timesheet.ToTime">
            </label>
        </form>
        <h4 id="projectTimeCaptureLogTime-heading8" style="color:#000000;" class=" ">Previous</h4>
                    
 <!--       <ion-item n-repeat="timeline in Project.timesheetlines" ng-click='timelineClick($event)' class="cd-timeline-icon royal">
	        {{timeline.duration}}
	    </ion-item>-->

        <section id="cd-timeline" class="cd-container">
        <div id="projectTimeCaptureLogTime-list-item21" class="  " ng-repeat="Timeline in Project.timesheetlines | orderBy:['-date']" class="cd-timeline-icon dark">
            
            <div class="cd-timeline-block">
            <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
            <div class="cd-timeline-icon text-center dark">
              <i class="ion-image timelineIcon" ng-if="(Timeline.approvalstatus=='Draft')"></i>
              <i class="ion-ios-videocam timelineIcon" ng-if="Timeline.approvalstatus=='Engineer Approved' "></i>
              <i class="ion-location timelineIcon" ng-if="Timeline.approvalstatus=='Manager Approved'"></i>
            </div>
            <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
            <div class="cd-timeline-content padding dark">
            	<h5 class="marginBottom0 marginTop0">{{Timeline.duration}} hours</h5>
            	<p class="marginTop5 cd-author">by {{Timeline.employee}} on {{Timeline.date | date: "dd MM yyyy : hh mm"}}</p>
            	<p class="timelineText">{{Timeline.description | limitTo: 100}}</p>
            </div>
          </div>
        </div>
        </section>


    </ion-content>
</ion-view>