<ion-view title="Project Time Capture - Details" id="page11" class=" ">
    <ion-content padding="true" class="has-header dark_grey_background" scroll="true">
        <ion-scroll>
            <h3 id="projectTimeCaptureDetails-heading1" style="text-align:center;" class="blue">
                {{Project.intellic_customer}} - {{Project.intellic_name}}</h3>
            <h5 id="H1" style="text-align:center;" class="blue">{{Project.intellic_projectidentification}}</h5>
            <!--<div id="projectTimeCaptureDetails-button-bar1" class=" button-bar ">
                <button id="projectTimeCaptureDetails-button4" class=" button button-dark  button-block ">Details</button>
                <a ui-sref="tabsController.projectTimeCaptureLogTime" id="projectTimeCaptureDetails-button5" class=" button button-light  button-block button-outline ">Log Time</a>
            </div>-->
            <tab-slide-box tab="0">
                <div class="tsb-icons">
                    <div class="tsb-ic-wrp">
                        <a href="javascript:;" class="ic_info_tab"></a>
                        <a href="javascript:;" class="ic_time_tab"></a>
                        <a href="javascript:;" class="ic_history_tab"></a>
                    </div>
                </div>
                <ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)">
                    <ion-slide>
                        <h2>Project Details</h2>

                        <table style="text-align:left" class="project_table">
                            <tr>
                                <td colspan="2">
                                    <h4>Customer:</h4>
                                    <div>{{Project.intellic_customer}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Estimated:</h4> &#163{{Project.intellic_projectvalue}}
                                </td>
                                <td>
                                    <h4>Billed:</h4> &#163{{Project.intellic_billedtodate}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h4>Description:</h4> <br>{{Project.intellic_description}}
                                </td>
                            </tr>
                        </table>
                        <br/>
                        <h2>Project Phase Overview</h2>
                        <ion-list id="projectTimeCaptureLogTime-list8" class=" " show-delete="false" can-swipe="true">
                            <ion-item id="projectTimeCaptureLogTime-list-item21" class=""
                                      collection-repeat="Phase in Project.project_phases | orderBy:'intellic_projectphasecategory'">
                                <div><strong>{{Phase.intellic_projectphasecategory}}</strong></div>
                                <div><b>Quoted:</b> {{Phase.intellic_quotedquantity}}</div>
                                <div><b>Time Applied:</b> {{Phase.intellic_timeapplied}}</div>
                                <div><b>Left:</b> {{Phase.intellic_quotedquantity - Phase.timeapplied}}</div>
                                <div><b>Billed:</b> {{Phase.intellic_billedtodate}}</div>
                                <div><b>UnBilled:</b> {{Phase.intellic_timeapplied - Phase.intellic_billedtodate}}</div>
                            </ion-item>
                        </ion-list>

                    </ion-slide>
                    <ion-slide>
                        <h2>Time Tracker</h2>
                        <ion-toggle toggle-class="toggle-positive" id="nominalTimeCaptureLogTime-toggle3"
                                    ng-model="UseTimer" ng-change="UserTimerToggled()">Timer Input
                        </ion-toggle>


                        <form id="manualTimeForm" ng-hide="UseTimer">
                            <!-- Inputs for Manual Time -->
                            <label class="item item-select " id="projectTimeCaptureLogTime-select1"
                                   name="Project Phase">
                                <span class="input-label">Select</span>
                                <select ng-model="selectedPhase"
                                        ng-style="validationPhase && {'border':'1px solid red'}">
                                    <option ng-repeat="option in Project.project_phases" value="{{option.id}}">
                                        {{option.intellic_projectphasecategory}}
                                    </option>
                                </select>
                            </label>
                            <label class="item item-input " id="nominalTimeCaptureLogTime-textarea2">
                                <span class="input-label">Description</span>
                                <textarea placeholder="" ng-model="description" id="project_description"
                                          ng-style="validationDescription && {'border':'1px solid red'}"> </textarea>
                            </label>


                            <ion-list id="nominalTimeCaptureLogTime-list9" class=" ">
                                <label class="item item-input " id="nominalTimeCaptureLogTime-input4">
                                    <span class="input-label">From</span>
                                    <input type="date" ng-model="fromDate">
                                    <input type="time" ng-model="fromTime">
                                </label>
                                <label class="item item-input " id="nominalTimeCaptureLogTime-input6">
                                    <span class="input-label">To</span>
                                    <input type="date" ng-model="toDate">
                                    <input type="time" ng-model="toTime">
                                </label>
                                <button id="Button1" class=" button button-balanced  button-block "
                                        ng-click="createTimeLine(selectedPhase, description, fromDate, fromTime, toDate, toTime)">
                                    Create Time Line
                                </button>
                            </ion-list>
                        </form>


                        <form id="timeForm" ng-show="UseTimer">
                            <!-- Inputs for stopwatch -->
                            <label class="item item-select " id="projectTimeCaptureLogTime-select11"
                                   name="Project Phase">
                                <span class="input-label">Select</span>
                                <select ng-model="selectedPhaseStopwatch" id="selectedPhaseStopwatch">
                                    <option ng-repeat="option in Project.project_phases" value="{{option.id}}">
                                        {{option.intellic_projectphasecategory}}
                                    </option>
                                </select>
                            </label>
                            <label class="item item-input " id="nominalTimeCaptureLogTime-textarea22">
                                <span class="input-label">Description</span>
                                <textarea placeholder="" ng-model="descriptionStopwatch"
                                          id="descriptionStopwatch"> </textarea>
                            </label>

                            <div ng-app="stopWatchApp" ng-controller="stopWatchDemoCtrl" ng-show="UseTimer">
                                <div ng-repeat="options in stopwatch">
                                    <div bb-stopwatch options="options">
                                        <div class="container">
                                            <div class="stopwatch_area">
                                                <h1 id="H2" style="color:#000000;text-align:center;"
                                                    class="stopWatch numbers">{{options.elapsedTime |
                                                    stopwatchTime}}</h1>
                                            </div>
                                            <button id="nominal-log-start" ng-hide="options.running"
                                                    class=" button button-balanced  button-block "
                                                    ng-click="startTimer(customer, selectedPhaseStopwatch, descriptionStopwatch)">
                                                Start
                                            </button>
                                            <button id="nominal-log-stop" ng-show="options.running"
                                                    class=" button button-balanced  button-block "
                                                    ng-click="stopTimer(selectedPhaseStopwatch, descriptionStopwatch, customer)">
                                                Stop
                                            </button>
                                            <button id="nominal-log-reset" ng-show="options.showreset"
                                                    class=" button button-balanced  button-block "
                                                    ng-click="resetTimer()">
                                                Reset
                                            </button>
                                            <!-- pass the name of the current customer/client to the stopwatch controller -->
                                            <input id="customer" type="hidden" ng-model="customer"
                                                   ng-init="customer=[Project.intellic_customer]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </ion-slide>
                    <ion-slide>
                        <h2>Previous Timesheet Lines</h2>

                        <section id="cd-timeline" class="cd-container">
                            <div id="Div1" class="" ng-repeat="Timeline in Project.timesheetlines | orderBy:['-date']"
                                 class="cd-timeline-icon dark">
                                <div class="cd-timeline-block">
                                    <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
                                    <div class="cd-timeline-icon text-center dark">
                                        <i class="ion-image timelineIcon"
                                           ng-if="(Timeline.approvalstatus=='Draft')"></i>
                                        <i class="ion-ios-videocam timelineIcon"
                                           ng-if="Timeline.approvalstatus=='Engineer Approved' "></i>
                                        <i class="ion-location timelineIcon"
                                           ng-if="Timeline.approvalstatus=='Manager Approved'"></i>
                                    </div>
                                    <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
                                    <div class="cd-timeline-content padding dark">
                                        <h5 class="marginBottom0 marginTop0">{{Timeline.duration}} hours</h5>
                                        <p class="marginTop5 cd-author">by {{Timeline.employee}} on {{Timeline.date |
                                            date: "dd MM yyyy : hh mm"}}</p>
                                        <p class="timelineText">{{Timeline.description | limitTo: 100}}</p>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </ion-slide>
                </ion-slide-box>
            </tab-slide-box>
        </ion-scroll>
    </ion-content>
</ion-view>