<ion-view title="Project Time Capture - Log Time" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="projectTimeCaptureLogTime-heading2" style="color:#000000;text-align:center;" class=" ">QA Travel</h1>
        <div id="projectTimeCaptureLogTime-button-bar2" class=" button-bar ">
            <a ui-sref="tabsController.projectTimeCaptureDetails" id="projectTimeCaptureLogTime-button7" class=" button button-stable  button-block button-outline ">Details</a>
            <button id="projectTimeCaptureLogTime-button8" class=" button button-dark  button-block ">Log Time</button>
        </div>
        <form id="projectTimeCaptureLogTime-form5" class="list ">
            <label class="item item-select " id="projectTimeCaptureLogTime-select1" name="Project Phase">
                <span class="input-label">Select</span>
                <select>
                    <option>Communication</option>
                    <option>Documentation</option>
                    <option>System Setup</option>
                    <option>Travel</option>
                    <option>Project Management</option>
                    <option>Meetings</option>
                </select>
            </label>
            <label class="item item-input " id="projectTimeCaptureLogTime-textarea1">
                <span class="input-label">Description</span><textarea placeholder=""> </textarea>
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="projectTimeCaptureLogTime-toggle4" class=" ">Timer Capture</ion-toggle>
        </form>
        <button id="projectTimeCaptureLogTime-button9" class=" button button-assertive  button-block icon ion-stop ">Stop Timer</button>
        <h1 id="projectTimeCaptureLogTime-heading3" style="color:#000000;text-align:center;" class=" ">01:23</h1>
        <form id="projectTimeCaptureLogTime-form11" class="list ">
            <label class="item item-input " id="projectTimeCaptureLogTime-input13">
                <span class="input-label">From</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="projectTimeCaptureLogTime-input14">
                <span class="input-label">From</span>
                <input type="time" placeholder="">
            </label>
            <label class="item item-input " id="projectTimeCaptureLogTime-input15">
                <span class="input-label">To</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="projectTimeCaptureLogTime-input16">
                <span class="input-label">To</span>
                <input type="time" placeholder="">
            </label>
        </form>
        <h4 id="projectTimeCaptureLogTime-heading8" style="color:#000000;" class=" ">Previous</h4>
        <ion-list id="projectTimeCaptureLogTime-list8" class=" ">
            <ion-item class="item-icon-right  " id="projectTimeCaptureLogTime-list-item20">11/05/2016: 12:46 - 13:45
                <i class="icon ion-android-delete"></i>
            </ion-item>
            <ion-item id="projectTimeCaptureLogTime-list-item21" class="  ">11/05/2016: 09:00 -11:56</ion-item>
        </ion-list>
    </ion-content>
</ion-view>