<ion-view title="Project Time Capture - Details" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="projectTimeCaptureDetails-heading1" style="color:#000000;text-align:center;" class=" ">QA Travel</h1>
        <div id="projectTimeCaptureDetails-button-bar1" class=" button-bar ">
            <button id="projectTimeCaptureDetails-button4" class=" button button-dark  button-block ">Details</button>
            <a ui-sref="tabsController.projectTimeCaptureLogTime" id="projectTimeCaptureDetails-button5" class=" button button-light  button-block button-outline ">Log Time</a>
        </div>
        <div>
            <p>Estimated
                <b>£8,500</b>
                <br>Billed:
                <b>£2,500</b>
                <br>To be Invoiced
                <b>£1,500</b>
                <br>Outstanding
                <b>£4,500</b>
            </p>
            <br>
            <br>Plan &amp; Design: Quoted
            <b>16 hrs</b>- Used
            <b>2 hrs</b>
            <br>Development: Quoted
            <b>16 hrs</b>- Used
            <b>2 hrs</b>
            <br>Testing: Quoted
            <b>16 hrs</b>- Used
            <b>2 hrs</b>
            <br>Training: Quoted
            <b>16 hrs</b>- Used
            <b>2 hrs</b>
            <br>Project Man: Quoted
            <b>16 hrs</b>- Used
            <b>2 hrs</b>
            <br>
            <p></p>
        </div>
    </ion-content>
</ion-view>