<ion-view title="Support Time Capture - Log Time" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="supportTimeCaptureLogTime-heading15" style="color:#000000;text-align:center;" class=" ">Ticket 1234</h1>
        <h4 id="supportTimeCaptureLogTime-heading18" style="color:#000000;text-align:center;" class=" ">Granite City</h4>
        <div id="supportTimeCaptureLogTime-button-bar7" class=" button-bar ">
            <a ui-sref="tabsController.supportTimeCaptureDetails" id="supportTimeCaptureLogTime-button20" class=" button button-stable  button-block button-outline ">Details</a>
            <button id="supportTimeCaptureLogTime-button36" class=" button button-stable  button-block button-outline ">Notes</button>
            <button id="supportTimeCaptureLogTime-button21" class=" button button-dark  button-block ">Time</button>
        </div>
        <form id="supportTimeCaptureLogTime-form8" class="list ">
            <label class="item item-select " id="supportTimeCaptureLogTime-select4" name="Project Phase">
                <span class="input-label">Select</span>
                <select>
                    <option>Communication</option>
                    <option>Documentation</option>
                    <option>System Setup</option>
                    <option>Travel</option>
                    <option>Project Management</option>
                    <option>Meetings</option>
                </select>
            </label>
            <label class="item item-input " id="supportTimeCaptureLogTime-textarea4">
                <span class="input-label">Description</span><textarea placeholder=""> </textarea>
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="supportTimeCaptureLogTime-toggle6" class=" ">Timer Capture</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="supportTimeCaptureLogTime-toggle7" class=" ">Close Ticket on Stop</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="supportTimeCaptureLogTime-toggle8" class=" ">Send Client Update</ion-toggle>
        </form>
        <button id="supportTimeCaptureLogTime-button22" class=" button button-assertive  button-block icon ion-stop ">Stop Timer</button>
        <h1 id="supportTimeCaptureLogTime-heading16" style="color:#000000;text-align:center;" class=" ">01:23</h1>
        <form id="supportTimeCaptureLogTime-form12" class="list ">
            <label class="item item-input " id="supportTimeCaptureLogTime-input18">
                <span class="input-label">From</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="supportTimeCaptureLogTime-input19">
                <span class="input-label">From</span>
                <input type="time" placeholder="">
            </label>
            <label class="item item-input " id="supportTimeCaptureLogTime-input21">
                <span class="input-label">To</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="supportTimeCaptureLogTime-input22">
                <span class="input-label">To</span>
                <input type="time" placeholder="">
            </label>
        </form>
        <h4 id="supportTimeCaptureLogTime-heading17" style="color:#000000;" class=" ">Previous</h4>
        <ion-list id="supportTimeCaptureLogTime-list12" class=" ">
            <ion-item class="item-icon-right  " id="supportTimeCaptureLogTime-list-item29">11/05/2016: 12:46 - 13:45
                <i class="icon ion-android-delete"></i>
            </ion-item>
            <ion-item id="supportTimeCaptureLogTime-list-item30" class="  ">11/05/2016: 09:00 -11:56</ion-item>
        </ion-list>
    </ion-content>
</ion-view>