<ion-view title="Support Time Capture - Notes" id="page19" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="supportTimeCaptureNotes-heading21" style="color:#000000;text-align:center;" class=" ">Richard Irvin</h1>
        <h5 id="supportTimeCaptureNotes-heading22" style="color:#000000;text-align:center;" class=" ">Ticket 1234</h5>
        <div id="supportTimeCaptureNotes-button-bar9" class=" button-bar ">
            <a ui-sref="tabsController.supportTimeCaptureDetails" id="supportTimeCaptureNotes-button25" class=" button button-stable  button-block button-outline ">Details</a>
            <button id="supportTimeCaptureNotes-button26" class=" button button-dark  button-block ">Notes</button>
            <a ui-sref="tabsController.supportTimeCaptureLogTime" id="supportTimeCaptureNotes-button27" class=" button button-stable  button-block button-outline ">Time</a>
        </div>
        <ion-list id="supportTimeCaptureNotes-list19" class=" ">
            <ion-item id="supportTimeCaptureNotes-list-item45" class="  ">Barry Booth - Responded to the customer</ion-item>
            <ion-item id="supportTimeCaptureNotes-list-item46" class="  ">Jack Nutkins - Found potential issue</ion-item>
        </ion-list>
    </ion-content>
</ion-view>