<ion-view title="Support Time Capture - Details" id="page18" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="supportTimeCaptureDetails-heading19" style="color:#000000;text-align:center;" class=" ">Richard Irvin</h1>
        <h5 id="supportTimeCaptureDetails-heading20" style="color:#000000;text-align:center;" class=" ">Ticket 1234</h5>
        <div id="supportTimeCaptureDetails-button-bar8" class=" button-bar ">
            <button id="supportTimeCaptureDetails-button14" class=" button button-dark  button-block ">Details</button>
            <a ui-sref="tabsController.supportTimeCaptureNotes" id="supportTimeCaptureDetails-button24" class=" button button-light  button-block button-outline ">Notes</a>
            <a ui-sref="tabsController.supportTimeCaptureLogTime" id="supportTimeCaptureDetails-button23" class=" button button-light  button-block button-outline ">Log Time</a>
        </div>
        <div>
            <p>Logged on
                <b>01/02/2016 11:43</b>
                <br>Logged by:
                <b>Paul Rae</b>
                <br>Priority
                <b>High</b>
                <br>Status
                <b>£4,500</b>
                <br>Estimated Time:
                <b>15 hrs</b>
                <br>Actual Time:
                <b>4 hrs</b>
                <br>Left this month:
                <b>26 hrs</b>
            </p>
            <br>Description: Problem with CRM - Cant Log in from IE10......
            <br>
        </div>
    </ion-content>
</ion-view>