<ion-view title="Tickets" hide-back-button="true" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="tickets-form10" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="" ng-model="search">
            </label>
        </form>
        <ion-list id="tickets-list17" class=" " show-delete="false" can-swipe="true" >
            <ion-item class="item-icon-right  " id="tickets-list-item39" ui-sref="tabsController.supportTimeCaptureDetails" collection-repeat="Ticket in Tickets | orderBy:'name' | searchTickets:search" ng-click='projectClick($event)' ui-sref="tabsController.ticketTimeCaptureDetails({ Id: Ticket.alpha2_code })">
                {{Ticket.name}}
                <ion-option-button class="button-light icon ion-heart"></ion-option-button>
                <ion-option-button class="button-light icon ion-email"></ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>