.ic_header_icon {
    background: url('../img/IC-logo-main-bkg.png');
    background-size: 100% auto !important;
    background-repeat: no-repeat;
    width: 170px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: central;
}

.ic_app_background {
    width: 100%;
    /*height: calc(100% - 79px);*/
    height: 100%;
    background: url('../img/app_background.jpg');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    /*top: 80px !important;*/
}

.ic_header {
    background: #fff !important;
    height: 80px !important;
}

.platform-android .ic_header, .platform-browser .ic_header  {
    height: 60px !important;
}

.platform-android .has-subheader, .platform-browser .has-subheader  {
    top: 60px;
}

.platform-ios .has-subheader  {
    top: 83px !important;
}

@font-face {
    font-family: 'Poiret One';
    src: url('../fonts/PoiretOne-Regular.ttf');
}

body {
    /*font-family: "Poiret One";*/
}

h1 {
    color: #1abfd3;
    font-weight: lighter;
    font-family: "Poiret One";
    font-size: 50px;
    text-align: left;
    margin-bottom: 30px;
}

.ic_login-content {
    top: 0px !important;
}

.ic_button {
    background: none;
    border: 2px solid #1abfd3;
    border-radius: 8px;
    color: #1abfd3;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
}

.wrapper {
    max-width: 620px;
    height: auto;
}

.box {
    /*display: inline-block;*/
    /*position: relative;*/
    /*width: 175px;*/
    /*height: 175px;*/
    /*z-index: 0;*/
    /*margin: 2px auto 2px auto;*/
    /*transition: all .15s ease-in-out;*/
    /*text-align: center;*/
    width: calc(100% / 2 - 3px);
    text-align: center;
    height: 175px;
    margin-bottom: 5px;
    display: inline-block;
    text-decoration: none;
}

/* The ghost, nudged to maintain perfect centering */
.box:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    /*margin-right: -0.25em; !* Adjusts for spacing *!*/
}

/*.box:hover {*/
    /*background: #9CC;*/
    /*z-index: 100;*/
    /*transform: scale(1.2, 1.2);*/
    /*box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);*/
/*}*/

.box.activated {
    background: #9CC;
}

/*.box.activated .tile-label {*/
    /*color:#fff;*/
/*}*/

.tile-content {
    display: inline-block;
    vertical-align: middle;
}

.tile-label {
    color:#000;
}

.icon img {
    background-color: transparent;
    margin-bottom: 10px;
}

.bg-blue {
    background: #1abfd3;
}

.bg-green {
    background-color: #4bd6a4;
}

.bg-black {
    background-color: #ffffff;
}

.bg-transparent {
    background-color: transparent;
}

/*fg-black {*/
/*color: black;*/
/*}*/

/*fg-white {*/
/*color: white;*/
/*}*/

/*fg-blue {*/
/*color: #1abfd3;*/
/*}*/
/* */

.side-menu {

}

.login_button {
    padding: 10px;
}

.login_button.activated {
    background: #1abfd3 !important;
    color: #fff !important;
}
.skip {
    position: absolute;
    bottom: 25px;
}

/*.platform-ios .scroll {*/
    /*height:100%;*/
/*}*/

.back_landing_button {
    font-size: 22px;
    margin-left: 10px;
    margin-top: 7px;
    color: #444;
    text-decoration: none;
}

.project_table {
    font-size: 16px;
}

.project_table tr td {
    padding: 7px 0;
}

.slider-slide h2 {
    text-align: left !important;
    font-size: 18px;
}
.slider-slide h4 {
    font-size: 16px;
    display: inline-block;
}


.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    //color: #1abfd3 !important;
    border-color: #1abfd3 !important;
}

.tab_background {
    background-color:#ededed;
}

/*.list .item-content {*/
    /*padding-left: 15px !important;*/
/*}*/

.tab_background h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


